*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
background:#e9e9f2;
}

/* Card */

.container{
display:flex;
gap:60px;
}

.card{
width:320px;
background:#0f0f13;
color:white;
padding:25px;
border-radius:12px;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.title{
text-align:center;
margin-bottom:5px;
font-size:20px;
font-weight:bold;
}

.subtitle{
text-align:center;
font-size:12px;
color:#aaa;
margin-bottom:20px;
}

/* Inputs */

.input-group{
margin-bottom:15px;
}

.input-group label{
font-size:12px;
color:#bbb;
}

.input-group input{
width:100%;
padding:10px;
margin-top:5px;
border:none;
outline:none;
border-radius:6px;
background:#1a1a22;
color:white;
}

/* Buttons */

.social-login{
margin-top:20px;
display:flex;
flex-direction:column;
gap:10px;
}

.social-login button{
display:flex;
align-items:center;
justify-content:center;
gap:10px;

padding:10px;
border:none;
border-radius:8px;

background:#1b1b2b;
color:white;

cursor:pointer;
}

.social-login img{
width:18px;
height:18px;
}

.social-login button:hover{
background:#2b2b45;
}

.btn:hover{
background:#6246ea;
}

/* Divider */

.divider{
text-align:center;
margin:15px 0;
font-size:12px;
color:#777;
}

.social{
display:flex;
gap:10px;
}

.social button{
flex:1;
padding:8px;
border:none;
border-radius:6px;
background:#1a1a22;
color:white;
cursor:pointer;
}

/* Links */

.switch{
text-align:center;
margin-top:15px;
font-size:12px;
}

.switch a{
color:#7a5cff;
cursor:pointer;
text-decoration:none;
}

.hidden{
display:none;
}

.container{
width:350px;
padding:15px;

background:rgba(255,255,255,0.15);
border-radius:15px;

backdrop-filter:blur(12px);
-webkit-backdrop-filter:blur(12px);

border:1px solid rgba(255,255,255,0.3);

box-shadow:0 8px 32px rgba(0,0,0,0.25);

color:white;
}

input{
width:100%;
padding:10px;
margin:10px 0;

border:none;
border-radius:8px;

outline:none;
}

button{
width:100%;
padding:10px;

background:#7b4dff;
color:white;

border:none;
border-radius:8px;

cursor:pointer;
font-size:16px;
}

button:hover{
background:#5c34d6;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;

background-image:url("../images/bg.png");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}
